body {
    background: #eee;
    font-family: 'Noto Sans', sans-serif;
}

footer {
    margin-top: 2%;
}

.container {
    width: 80%;
    height: 100%;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #45aaf2;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}
.rates-container, .update-container, .prof-view-container {
    width: 50%;
    height: 100%;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #45aaf2;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.form-card-body {
    background: #fff;
    border: 1px solid #45aaf2;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.form-login-fields {
    position: relative;
    border: 1px solid #45aaf2;
    border-radius: 7px;
    margin-top: 30px;
    height: 55px;
    padding: 2px;
}

.form-login-fields label {
    position: absolute;
    bottom: 28px;
    left: 20px;
    padding: 3px 6px 3px 6px;
    background: #fff;
    border: 1px solid #45aaf2;
    border-radius: 7px;
}

.form-login-fields .form-input {
    position: relative;
}

.form-group .form-input .form-control {
    position: absolute;
    top: 15px;
    width: 88%;
    border:none;
    box-shadow: none;
    background: none;
}

.eye {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.eye:hover {
    color:  #1b9cf8;
}

.btn {
    transition: ease 0.3s;
}

.btn:hover {
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);  
}

#submitButton:hover {
    transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);  
}